<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anéis | GABBELUE</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">
</head>

<body>
    <div class="top-bar">BEM-VINDO À SUA LOJA FAVORITA DE ACESSÓRIOS</div>

    <div class="cabecalho">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
    </div>    

    <nav class="nav-bar">
        <div class="nav-links">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('conjuntos') }}">CONJUNTOS</a>
            <a href="{{ url_for('brincos') }}">BRINCOS</a>
            <a href="{{ url_for('colares') }}">COLARES</a>
            <a href="{{ url_for('pulseiras') }}">PULSEIRAS</a>
            <a href="{{ url_for('aneis') }}">ANÉIS</a>
        </div>
       
        <div class="icons">
            <i>&#9829;</i> 
            <i>&#128100;</i> 
            <i>&#128722;</i> 
        </div>
    </nav>

    <div class="secao-produtos">
        <h2>ANÉIS</h2>
        <div class="produtos-container">

            <div class="produtos">
                <img src="../static/images/anelprata1.jpg">
                <p>Anel Delicado Prata</p>
                <strong>R$ 35,00</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>

            <div class="produtos">
                <img src="../static/images/anelcoracao.jpg">
                <p>Anel Coração</p>
                <strong>R$ 48,00</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>

            <div class="produtos">
                <img src="../static/images/anel1.jpg">
                <p>Anel Delicado Dourado</p>
                <strong>R$ 35,00</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>
   
            <div class="produtos">
                <img src="../static/images/anelboleado.jpg">
                <p>Anel Gota Boleado</p>
                <strong>R$ 52,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>

            <div class="produtos">
                <img src="../static/images/aneldedinho.jpg">
                <p>Anel Dedinho Coração</p>
                <strong>R$ 39,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>

            <div class="produtos">
                <img src="../static/images/anelzirconia.jpg">
                <p>Anel Zircônia Coração</p>
                <strong>R$ 57,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>

            <div class="produtos">
                <img src="../static/images/anelbrilhante.jpg">
                <p>Anel Solitário Brilhante</p>
                <strong>R$ 99,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>

        </div>
    </div>

    <footer class="rodape">
        <div class="rodape-container">

            <div class="rodape-coluna">
                <h3>Institucional</h3>
                <ul>
                    <li><a href="sobrenos.html">Sobre Nós</a></li>
                </ul>
            </div>
            
            <div class="rodape-coluna">
                <h3>Contato</h3>
                <p><i>&#9742;</i> (84) 99664-1215</p>
                <p><i>&#9993;</i> contato@gabbelue.com</p>
            </div>
            
            <div class="rodape-coluna">
                <h3>Siga-nos</h3>
                <div class="redes-sociais">
                    <a href="https://www.instagram.com/gabbelue?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i>&#128247;</i> Instagram</a>
                    <a href="https://www.contate.me/ios/gabbelue"><i>&#128222;</i> WhatsApp</a>
                </div>
            </div>
        </div>
        <div class="rodape-copy">
            &copy; 2025 Gabbelue - Todos os direitos reservados.
        </div>
    </footer>

</body>
</html>
