<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brincos | GABBELUE </title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">

</head>

<body>
    <div class="top-bar">BEM-VINDO À SUA LOJA FAVORITA DE ACESSÓRIOS</div>

    <div class="cabecalho">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
    </div>    

    <nav class="nav-bar">
        <div class="nav-links">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('conjuntos') }}">CONJUNTOS</a>
            <a href="{{ url_for('brincos') }}">BRINCOS</a>
            <a href="{{ url_for('colares') }}">COLARES</a>
            <a href="{{ url_for('pulseiras') }}">PULSEIRAS</a>
            <a href="{{ url_for('aneis') }}">ANÉIS</a>
        </div>
        <div class="icons">
            
            <i>&#128100;</i>
            <a href="/favoritos"><button><i>&#9829;</i> </button></a> 
            <a href="/carrinho"><button><i>&#128722;</i></button></a>
            
            <i><form action="{{url_for('logout')}}">
                <button id="sair">Sair</button>
            </form></i> 
    </nav>
    <div class="secao-produtos">
        <h2>BRINCOS</h2>
        <div class="produtos-container">
            <div class="produtos">
                <img src="../static/images/argola1.jpg" alt="Produto 4">
                <p>Argola Concha</p>
                <strong>R$ 39,90</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="7">
                   <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="7">
                    <button id="icon-button"><img id="icon" src="../static/images/image2.png" alt=""></button>
                </form>
            </div>

            <div class="produtos">
                <img src="../static/images/brincopetala1.jpg" alt="Produto 1">
                <p>Brinco Pétala Dourado</p>
                <strong>R$ 42,00</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="8">
                   <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="8">
                    <button id="icon-button"><img id="icon" src="../static/images/image2.png" alt=""></button>
                </form>
            </div>

            <div class="produtos">
                <img src="../static/images/brincopetala2.jpg" alt="Produto 1">
                <p>Brinco Pétala Prata</p>
                <strong>R$ 42,00</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="9">
                   <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="9">
                    <button id="icon-button"><img id="icon" src="../static/images/image2.png" alt=""></button>
                </form>
            </div>

            <div class="produtos">
                <img src="../static/images/brincobola1.jpg">
                <p>Brinco Bola Dourado</p>
                <strong>R$ 49,99</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="10">
                   <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="10">
                    <button id="icon-button"><img id="icon" src="../static/images/image2.png" alt=""></button>
                </form>
            </div>

            <div class="produtos">
                <img src="../static/images/brincobola2.jpg">
                <p>Brinco Bola Prata</p>
                <strong>R$ 49,99</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="11">
                   <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="11">
                    <button id="icon-button"><img id="icon" src="../static/images/image2.png" alt=""></button>
                </form>
            </div>

            <div class="produtos">
                <img src="../static/images/brincoperola.jpg">
                <p>Brinco Pérola</p>
                <strong>R$ 51,99</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="12">
                   <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="12">
                    <button id="icon-button"><img id="icon" src="../static/images/image2.png" alt=""></button>
                </form>
            </div>

            <footer class="rodape">
                <div class="rodape-container">
        
                    <div class="rodape-coluna">
                        <h3>Institucional</h3>
                        <ul>
                            <li><a href="sobrenos.html">Sobre Nós</a></li>
                        </ul>
                    </div>
                    
                    <div class="rodape-coluna">
                        <h3>Contato</h3>
                        <p><i>&#9742;</i> (84) 99664-1215</p>
                        <p><i>&#9993;</i> contato@gabbelue.com</p>
                    </div>
                    
                    <div class="rodape-coluna">
                        <h3>Siga-nos</h3>
                            <div class="redes-sociais">
                                <a href="https://www.instagram.com/gabbelue?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i>&#128247;</i> Instagram</a>
                                <a href="https://www.contate.me/ios/gabbelue"><i>&#128222;</i> WhatsApp</a>
                            </div>
                    </div>
                </div>
                        <div class="rodape-copy">
                            &copy; 2025 Gabbelue - Todos os direitos reservados.
                        </div>
            </footer>
</body>
</html>