<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho | GABBELUE </title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">
</head>
<body>
    <div class="top-bar">BEM-VINDO À SUA LOJA FAVORITA DE ACESSÓRIOS</div>

    <div class="cabecalho">
        <div class="logo">
            <a href="/index"><img src="../static/images/logo.png" alt="Logo Gabbelue"></a>
        </div>
    </div>    

    <nav class="nav-bar">
        <div class="nav-links">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('conjuntos') }}">CONJUNTOS</a>
            <a href="{{ url_for('brincos') }}">BRINCOS</a>
            <a href="{{ url_for('colares') }}">COLARES</a>
            <a href="{{ url_for('pulseiras') }}">PULSEIRAS</a>
            <a href="{{ url_for('aneis') }}">ANÉIS</a>
            <a href="{{ url_for('sobre') }}" class="active">SOBRE NÓS</a>
        </div>
        <div class="icons">
            
            <a href="/perfil"><button id="icon-head" style="cursor: pointer"><img src="../static/images/pessoal.png" alt=""></button></a> 
            <a href="/favoritos"><button id="icon-head" style="cursor: pointer"><img src="../static/images/image.png" alt=""></button></a> 
            <a href="/carrinho"><button id="icon-head" style="cursor: pointer"><img src="../static/images/carrinho.png" alt=""></button></a>
            
            <i><form action="{{url_for('logout')}}">
                <button id="sair">Sair</button>
            </form></i>  
    </nav>
    <div class="informative-compra">
    <h2>Valor total do seu carrinho : R${{ "%.2f"|format(valor) }}</h2> <br>
    <form action="{{url_for('compra')}}" method="post">
        <button id="compra-button">Finalizar compra</button>
    </form>
    </div>
    <div class="error">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}"><p>{{ message }}</p></div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <h1 class="h1-pags">CARRINHO</h1>
    
    <div class="carrinho-produto">
       
        <ul>
            {% for car in carrinho %}
            <li>
                <img src="{{ car[4] }}" alt="Imagem do produto">
                <div class="produto-info">
                    <p>{{ car[1] }}</p>
                    
                </div>
                <p class="preco" id="preco-{{ car[0] }}" data-unit-price="{{ car[3] }}">R${{ car[3] }}</p>
                <form action="{{ url_for('excluir_carrinho', id=car[0]) }}" method="post">
                    <button class="excluir">🗑️</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".incremento").forEach(button => {
                button.addEventListener("click", function() {
                    let productId = this.getAttribute("data-id");
                    let quantityInput = document.getElementById(`quantidade-${productId}`);
                    let precoElement = document.getElementById(`preco-${productId}`);
        

                    let precoUnitario = parseFloat(precoElement.getAttribute("data-unit-price"));
        
                    let quantidadeAtual = parseInt(quantityInput.value);
                    quantidadeAtual++;
                    quantityInput.value = quantidadeAtual;
        

                    let novoPreco = (precoUnitario * quantidadeAtual).toFixed(2);
                    precoElement.innerText = `R$${novoPreco}`;
                });
            });
        
            document.querySelectorAll(".decremento").forEach(button => {
                button.addEventListener("click", function() {
                    let productId = this.getAttribute("data-id");
                    let quantityInput = document.getElementById(`quantidade-${productId}`);
                    let precoElement = document.getElementById(`preco-${productId}`);
        

                    let precoUnitario = parseFloat(precoElement.getAttribute("data-unit-price"));
        
                    let quantidadeAtual = parseInt(quantityInput.value);
                    if (quantidadeAtual > 1) {
                        quantidadeAtual--;
                        quantityInput.value = quantidadeAtual;

                        let novoPreco = (precoUnitario * quantidadeAtual).toFixed(2);
                        precoElement.innerText = `R$${novoPreco}`;
                    }
                });
            });
        });
        </script>
        
            
</body>
</html>