<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colares| GABBELUE </title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <div class="top-bar"></div>

    <div class="cabecalho">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
    </div>    

    <nav class="nav-bar">
        <div class="nav-links">
            <a href="index.html">HOME</a>
            <a href="conjuntos.html">CONJUNTOS</a>
            <a href="brincos.html">BRINCOS</a>
            <a href="colares.html">COLARES</a>
            <a href="pulseiras.html">PULSEIRAS</a>
            <a href="aneis.html">ANÉIS</a>
        </div>

        <div class="icons">
            <i>&#9829;</i> 
            <i>&#128100;</i> 
            <i>&#128722;</i> 
    </nav>
    <div class="secao-produtos">
        <h2>COLARES</h2>
        <div class="produtos-container">
            <div class="produtos">
                <img src="../static/images/colarvivian.jpg">
                <p>Colar Vivian</p>
                <strong>R$ 92,00</strong>
                <button>ADICIONAR AO CARRINHO</button>
            </div>
            <div class="produtos">
                <img src="../static/images/colarlavinia.jpg" >
                <p>Mix Colar Lavínia</p>
                <strong>R$ 99,99</strong>
                <button>ADICIONAR AO CARRINHO</button>
            </div>
            <div class="produtos">
                <img src="../static/images/chocker.jpg">
                <p>Colar Chocker</p>
                <strong>R$ 69,99</strong>
                <button>ADICIONAR AO CARRINHO</button>
            </div>
            <div class="produtos">
                <img src="../static/images/mixmelissa.jpg">
                <p>Mix Colar Melissa</p>
                <strong>R$ 102,00</strong>
                <button>ADICIONAR AO CARRINHO</button>
            </div>
        

            <footer class="rodape">
                <div class="rodape-container">
        
                    <div class="rodape-coluna">
                        <h3>Institucional</h3>
                        <ul>
                            <li><a href="sobrenos.html">Sobre Nós</a></li>
                        </ul>
                    </div>
                    
                    <div class="rodape-coluna">
                        <h3>Contato</h3>
                        <p><i>&#9742;</i> (84) 99664-1215</p>
                        <p><i>&#9993;</i> contato@gabbelue.com</p>
                    </div>
                    
                    <div class="rodape-coluna">
                        <h3>Siga-nos</h3>
                            <div class="redes-sociais">
                                <a href="https://www.instagram.com/gabbelue?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i>&#128247;</i> Instagram</a>
                                <a href="https://www.contate.me/ios/gabbelue"><i>&#128222;</i> WhatsApp</a>
                            </div>
                    </div>
                </div>
                        <div class="rodape-copy">
                            &copy; 2025 Gabbelue - Todos os direitos reservados.
                        </div>
            </footer>

</body>
</html>