<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjuntos | GABBELUE </title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <div class="top-bar">BEM-VINDO À SUA LOJA FAVORITA DE ACESSÓRIOS</div>

    <div class="cabecalho">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
    </div>    

    <nav class="nav-bar">
        <div class="nav-links">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('conjuntos') }}">CONJUNTOS</a>
            <a href="{{ url_for('brincos') }}">BRINCOS</a>
            <a href="{{ url_for('colares') }}">COLARES</a>
            <a href="{{ url_for('pulseiras') }}">PULSEIRAS</a>
            <a href="{{ url_for('aneis') }}">ANÉIS</a>
        </div>

        <div class="icons">
            <i>&#9829;</i> 
            <i>&#128100;</i> 
            <i>&#128722;</i> 
    </nav>
    <div class="secao-produtos">
        <h2>CONJUNTOS</h2>
        <div class="produtos-container">
            <div class="produtos">
                <img src="../static/images/conjuntoanna.jpg">
                <p>Conjunto Anna</p>
                <strong>R$ 82,00</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>
            <div class="produtos">
                <img src="../static/images/conjuntolara.jpg" >
                <p>Conjunto Lara</p>
                <strong>R$ 115,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>
            <div class="produtos">
                <img src="../static/images/conjuntotrevo.jpg">
                <p>Conjunto Liz</p>
                <strong>R$ 72,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>
            <div class="produtos">
                <img src="../static/images/conjuntoeunice.jpg">
                <p>Conjunto Eunice</p>
                <strong>R$ 69,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>
            <div class="produtos">
                <img src="../static/images/conjuntoluiza1.jpg">
                <p>Conjunto Luiza</p>
                <strong>R$ 57,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>
            <div class="produtos">
                <img src="../static/images/conjuntolivia.jpg">
                <p>Conjunto Lívia</p>
                <strong>R$ 99,90</strong>
                <button><a href="{{ url_for('carrinho') }}">ADICIONAR AO CARRINHO</a></button>
            </div>

            <footer class="rodape">
                <div class="rodape-container">
        
                    <div class="rodape-coluna">
                        <h3>Institucional</h3>
                        <ul>
                            <li><a href="sobrenos.html">Sobre Nós</a></li>
                        </ul>
                    </div>
                    
                    <div class="rodape-coluna">
                        <h3>Contato</h3>
                        <p><i>&#9742;</i> (84) 99664-1215</p>
                        <p><i>&#9993;</i> contato@gabbelue.com</p>
                    </div>
                    
                    <div class="rodape-coluna">
                        <h3>Siga-nos</h3>
                            <div class="redes-sociais">
                                <a href="https://www.instagram.com/gabbelue?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i>&#128247;</i> Instagram</a>
                                <a href="https://www.contate.me/ios/gabbelue"><i>&#128222;</i> WhatsApp</a>
                            </div>
                    </div>
                </div>
                        <div class="rodape-copy">
                            &copy; 2025 Gabbelue - Todos os direitos reservados.
                        </div>
            </footer>

</body>
</html>