<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos | GABBELUE</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">
</head>
<body>
    <div class="top-bar">BEM-VINDO À SUA LOJA FAVORITA DE ACESSÓRIOS</div>

    <div class="cabecalho">
        <div class="logo">
            <a href="/index"><img src="../static/images/logo.png" alt="Logo Gabbelue"></a>
        </div>
    </div>    

    <nav class="nav-bar">
        <div class="nav-links">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('conjuntos') }}">CONJUNTOS</a>
            <a href="{{ url_for('brincos') }}">BRINCOS</a>
            <a href="{{ url_for('colares') }}">COLARES</a>
            <a href="{{ url_for('pulseiras') }}">PULSEIRAS</a>
            <a href="{{ url_for('aneis') }}">ANÉIS</a>
            <a href="{{ url_for('sobre') }}" class="active">SOBRE NÓS</a>
        </div>
        <div class="icons">
            <a href="/perfil"><button id="icon-head"><img src="../static/images/pessoal.png" alt=""></button></a> 
            <a href="/favoritos"><button id="icon-head"><img src="../static/images/image.png" alt=""></button></a> 
            <a href="/carrinho"><button id="icon-head"><img src="../static/images/carrinho.png" alt=""></button></a>
            <form action="{{ url_for('logout') }}">
                <button id="sair">Sair</button>
            </form> 
        </div>
    </nav>

    <h1 class="h1-pags">Favoritos</h1>

    <div class="carrinho-produto">
        <ul>
            {% for fav in favoritos %}
            <a href="{{url_for('produtos',id=fav[0])}}">
            <li class="produto-item">
                <img src="{{ fav[5] }}" alt="Imagem do Produto">
                <div class="produto-info">
                    <p class="produto-nome">{{ fav[1] }}</p>
                    <p class="preco">R$ {{ fav[4] }}</p>
                </div>
                <form action="{{ url_for('excluir_favoritos', id=fav[0]) }}" method="post">
                    <button class="excluir">🗑️</button>
                </form>
            </li>
            </a>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
