<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos | GABBELUE </title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">
</head>
<body>
    <div class="top-bar">BEM-VINDO À SUA LOJA FAVORITA DE ACESSÓRIOS</div>

    <div class="cabecalho">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
    </div>    

    <nav class="nav-bar">
        <div class="nav-links">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('conjuntos') }}">CONJUNTOS</a>
            <a href="{{ url_for('brincos') }}">BRINCOS</a>
            <a href="{{ url_for('colares') }}">COLARES</a>
            <a href="{{ url_for('pulseiras') }}">PULSEIRAS</a>
            <a href="{{ url_for('aneis') }}">ANÉIS</a>
        </div>
        <div class="icons">
            
            <i>&#128100;</i>
            <a href="/favoritos"><button><i>&#9829;</i> </button></a> 
            <a href="/carrinho"><button><i>&#128722;</i></button></a>
            
            <i><form action="{{url_for('logout')}}">
                <button id="sair">Sair</button>
            </form></i> 
    </nav>
    <h1>Favoritos</h1>
    <div class="carrinho-produto">
        <ul>
            {%for fav in favoritos%}
            <p>Nome: {{fav[1]}}<p>
            <p>Preço: {{fav[5]}}<p>
            <img src="{{fav[6]}}" alt="">
            <form action="{{url_for('excluir_favoritos',id=fav[0])}}" method="post">
                <button>Excluir</button>
            </form>
            {%endfor%}
        </ul>
    </div>
</body>
</html>