
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial | Gabbelue</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">
</head>
<body>
    <div class="top-bar">PAGUE EM ATÉ 3X SEM JUROS | PARCELAS A PARTIR DE R$50</div>

    <div class="cabecalho">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
    </div>    

    <nav class="nav-bar">
        <div class="nav-links">
            <a href="{{ url_for('index') }}">HOME</a>
            <a href="{{ url_for('conjuntos') }}">CONJUNTOS</a>
            <a href="{{ url_for('brincos') }}">BRINCOS</a>
            <a href="{{ url_for('colares') }}">COLARES</a>
            <a href="{{ url_for('pulseiras') }}">PULSEIRAS</a>
            <a href="{{ url_for('aneis') }}">ANÉIS</a>
        </div>
        <div class="icons">
            
            <div class="heart"></div>
            <a href="/favoritos"><button id="icon-head"><img src="../static/images/pessoal.png" alt=""></button></a> 
            <a href="/favoritos"><button id="icon-head"><img src="../static/images/image.png" alt=""></button></a> 
            <a href="/carrinho"><button id="icon-head"><img src="../static/images/carrinho.png" alt=""></button></a>
            
            
            <i><form action="{{url_for('logout')}}">
                <button id="sair">Sair</button>
            </form></i> 
    </nav>

    <div class="promo-bar">Acompanhe as melhores tendências</div>

    <div class="carousel">
        <div class="slides">
            <div class="slide"><img src="../static/images/1.jpg" alt="Imagem 1"></div>
            <div class="slide"><img src="../static/images/2.jpg" alt="Imagem 2"></div>
            <div class="slide"><img src="../static/images/3.jpg" alt="Imagem 3"></div>
            <div class="slide"><img src="../static/images/4.jpg" alt="Imagem 3"></div>
            
            
        </div>
        <div class="prev" onclick="moveSlide(-1)">&#10094;</div>
        <div class="next" onclick="moveSlide(1)">&#10095;</div>
    </div>

    <div class="secao-produtos">
        <h2>EM DESTAQUE</h2>
        <div class="produtos-container">
            <div class="produtos">
                <img src="../static/images/anel1.jpg" alt="Produto 1">
                <p>Anel Delicado</p>
                <strong>R$ 35,00</strong>
    
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="23">
                    <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="23">
                    <button id="icon-button"><img id="icon" src="../static/images/disabledFavorite.png" alt=""></button>
                </form>
                
                
            </div>
            <div class="produtos">
                <img src="../static/images/colarvivian.jpg" alt="Produto 2">
                <p>Colar Vivian</p>
                <strong>R$ 92,00</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="13">
                    <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="13">
                    <button id="icon-button"><img id="icon" src="../static/images/disabledFavorite.png" alt=""></button>
                </form>
            </div>
            <div class="produtos">
                <img src="../static/images/conjuntolara.jpg" alt="Produto 3">
                <p>Conjunto Lara</p>
                <strong>R$ 115,90</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="2">
                    <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    
                    <input type="number" name="id" value="2">
                    <button id="icon-button"><img id="icon" src="../static/images/disabledFavorite.png" alt=""></button>
                </form>
            </div>
            <div class="produtos">
                <img src="../static/images/argola1.jpg" alt="Produto 4">
                <p>Argola Concha</p>
                <strong>R$ 39,90</strong>
                <form action="{{url_for('add_carrinho')}}" method="post">
                    <input type="number" name="id" value="7">
                    <button id="button">ADICIONAR AO CARRINHO</button>
                </form>
                <form action="{{url_for('add_favoritos')}}" method="post">
                    <input type="number" name="id" value="7">
                    <button id="icon-button"><img id="icon" src="../static/images/disabledFavorite.png" alt=""></button>
                </form>
            </div>

    <section class="secao-informativa">
        <div class="informativa-imagem">
            <img src="../static/images/acessorios.jpg" alt="Acessórios estilosos">
        </div>
        <div class="informativa-texto">
            <h2>Veja como seus acessórios podem influenciar sua imagem</h2>
            <p>Os acessórios são mais do que meros detalhes — eles expressam personalidade, elegância e autoconfiança. A escolha da peça certa pode transformar seu visual e impactar sua presença.</p>
            <a href="/info" class="botao-informativo">Saiba Mais</a>
        </div>
    </section>
            


    <footer class="rodape">
        <div class="rodape-container">

            <div class="rodape-coluna">
                <h3>Institucional</h3>
                <ul>
                    <li><a href="sobrenos.html">Sobre Nós</a></li>
                </ul>
            </div>
            
            <div class="rodape-coluna">
                <h3>Contato</h3>
                <p><i>&#9742;</i> (84) 99664-1215</p>
                <p><i>&#9993;</i> contato@gabbelue.com</p>
            </div>
            
            <div class="rodape-coluna">
                <h3>Siga-nos</h3>
                    <div class="redes-sociais">
                        <a href="https://www.instagram.com/gabbelue?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i>&#128247;</i> Instagram</a>
                        <a href="https://www.contate.me/ios/gabbelue"><i>&#128222;</i> WhatsApp</a>
                    </div>
            </div>
        </div>
                <div class="rodape-copy">
                    &copy; 2025 Gabbelue - Todos os direitos reservados.
                </div>
    </footer>
            

    <script>
        let currentIndex = 0;

        function moveSlide(direction) {
            const slides = document.querySelector('.slides');
            const totalSlides = document.querySelectorAll('.slide').length;
            currentIndex = (currentIndex + direction + totalSlides) % totalSlides;
            slides.style.transform = `translateX(-${currentIndex * 100}%)`;
        }

        setInterval(() => moveSlide(1), 3000);
    </script>
</body>
</html>
