<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">

</head>
<body class="body-inicio">

    

    <section class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <form action="#" method="POST">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
                <label for="senha">Senha</label>
                <div class="view-senha">
                    
                <input type="password" id="senha" name="senha" required>

                <img onclick="viewSenha()" style="cursor: pointer" src="../static/images/olho.png">
                </div>
                
                <button type="submit">Entrar</button>
            </form>
            <p>Não tem uma conta? <a href="{{url_for('register')}}">Cadastre-se</a></p>
            <div class="logo-login">
                <img src="../static/images/logo.png" alt="Logo">
            </div>
        </div>
    </section>
<script>
    function viewSenha(){
  var tipo = document.getElementById("senha")
  if (tipo.type == "password") {
    tipo.type = "text";
  }else{
    tipo.type = "password";
  }
}
</script>
</body>
