<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">

</head>
<body class="body-inicio">

    <header class="nav-bar">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
    </header>
    

    <section class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <div class="error">
                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        <div class="alert alert-dismissible fade show">
                                            {% for category, message in messages %}
                                                <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                    {% endwith %}
            </div>
            <form action="#" method="POST">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
                
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="password" required>
                
                <button type="submit">Entrar</button>
            </form>
            <p>Não tem uma conta? <a href="{{url_for('register')}}">Cadastre-se</a></p>
        </div>
    </section>
