<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/favicon.ico">

</head>
<body class="body-inicio">

    <header class="nav-bar">
        <div class="logo">
            <img src="../static/images/logo.png" alt="Logo">
        </div>
       
    </header>

    <section class="register-container">
        <div class="login-box">
            <h2>Registro</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <div class="alert alert-dismissible fade show">
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
            <form action="#" method="POST">
                <label for="name" class="form-label">Nome Completo</label>
                <input type="text" name="name" id="name" class="form-control" required>

                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>

                <label for="telephone" class="form-label">Telefone</label>
                <input type="text" name="telephone" id="telephone" class="form-control" required>
                
                <label for="password" class="form-label">Senha</label>
                <input type="password" name="password" id="password" class="form-control" required>
        

                
                <label for="confirm_password" class="form-label">Confirme a Senha</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                
                
                <button type="submit">Cadastrar</button>
            </form>
            <p>Já tem uma conta? <a href="{{url_for('login')}}">Faça seu login</a></p>
        </div>
    </section>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const senha = document.getElementById('password');
        const confirmarSenha = document.getElementById('confirm_password');
        function validarSenhas() {
            let mensagemErro = '';
            if (senha.value.length < 8) {
                mensagemErro = 'A senha precisa ter pelo menos 8 caracteres!';
                senha.setCustomValidity(mensagemErro);
            } else {
                senha.setCustomValidity('');
            }
            if (confirmarSenha.value && senha.value !== confirmarSenha.value) {
                mensagemErro = 'As senhas precisam ser iguais!';
                confirmarSenha.setCustomValidity(mensagemErro);
            } else {
                confirmarSenha.setCustomValidity('');
            }
        }
        senha.addEventListener('input', validarSenhas);
        confirmarSenha.addEventListener('input', validarSenhas);
    </script>
</body>
</html>